@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body{
    text-align: center;
    background: linear-gradient(to bottom, #6ab7f5, white);
    min-height: 100vh;
}

main{
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}

.pokedex{
    width: 100%;
    max-width: 425px;
}

.pokemon_image{
    position: absolute;
    bottom: 55%;
    left: 40%;
    transform: translate(-15%, 20%);
    height: 18%;
    cursor: pointer;
}

.pokemon_data{
    position: absolute;
    font-weight: 600;
    color: grey;
    bottom: 40%;
    left: 25%;
    transform: translate(12%, 0);
    font-size: clamp(18px, 5vw, 24px);
}

.pokemon_name{
    color: #3a444d;
    text-transform: capitalize;
}

.form{
    position: absolute;
    bottom: 25%;
    left: 19%;
    width: 60%;
}

.input_search{
    width: 100%;
    padding: 5%;
    outline: none;
    border: 2px solid #333;
    border-radius: 5px;
    font-weight: 600;
    color: #3a444d;
    font-size: clamp(18px, 5.5vw, 22px);
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}

.buttons{
    position: absolute;
    bottom: 15%;
    width: 60%;
    left: 18%;
    display: flex;
    gap: 20px;
}

.button{
    width: 50%;
    padding: 4%;
    border: 2px solid #333;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

.button:active{
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.75rem;
}

.pokemon_details{
    position: absolute;
    color: white;
    background-color: black;
    width: 57%;
    height: 26%;
    top: 28%;
    left: 18%;
    gap: 20px;
    transform: translate(0, -2%);
    font-size: clamp(18px, 5.5vw, 22px);
    padding: 3%;
    cursor: pointer;
}

.pokemon_type, .pokemon_hp, .pokemon_atk, .pokemon_def, .pokemon_speed{
    margin-left: 15px;
}

.img_info{
    position: absolute;
    bottom: 50%;
    left: 50%;
    background-color: white;
    opacity: 75%;
    border-radius: 5px;
    font-weight: 600;
    padding: 2%;
    display: none;
}

.pokemon_image:hover .img_info{
    display: block;
}

.content-graphics{
    background-color: black;
    opacity: 75%;
    width: 100%;
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
}

.firstPizza{
    width: 50% !important; 
}

